<!-- templates/f5rugby/camps.html -->

{% extends 'f5rugby/base.html' %}

<!-- load the static tag -->
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/f5rugby/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/camps/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/cards.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %}Rugby Camps{% endblock %}
{% block description %}Join our rugby camps for a comprehensive approach to personal player development and engaging group/team activities. Led by experienced coach Andy Skehan, our camps cater to both newcomers and seasoned players, offering expert guidance and a supportive environment to hone your skills and passion for rugby. Sign up now for an unforgettable experience on and off the field!{% endblock %}

{% block content %}
<div class="hero-wrapper camps-background">
    <div class="hero container">
        <div class="row">
            <div class="col-8">
                <div class="hero-solid-content">
                    <h1 class="hero-title ubuntu-regular">Cardiff Blues All Star Rugby Camp</h1>
                    <p class="ubuntu-light text-white">Not your average camp staff! 3 full time Rugby Coaches with pro experience. Hundreds of reps with skill progression. Focus on seeing the entire pitch. Daily Prizes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip camps-wrapper">
    <div class="container">
        <div class="row">
            <h1 class="section-title ubuntu-light">Upcoming camps</h1>
            <div class="camps-container pt-1">
                {% for camp in camps %}
                <div class="col-3">
                    <div class="card-post">
                        <header class="card-header">
                            <h5 class="muted-heading">{{ camp.tags }}</h5>
                        </header>
                        <div class="card-content">
                            <h3 class="no-margin-top no-margin-bottom"><a class="link-soft underlined" href="{% url 'camps:details' camp.id %}">{{ camp.title }}</a></h3>
                            <p>{{ camp.description }}</p>
                        </div>
                        <div class="card-image pb-1 center">
                            {% if camp.crest %}<img src="{{ camp.crest.url }}" alt="{{ camp.title }} Crest">{% endif %}
                        </div>
                        <div class="card-footer">
                            <p class="no-margin-bottom no-margin-top">Date: {{ camp.start_date|date:"F j" }} - {{ camp.end_date|date:"j" }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-4">
                    <div class="card-post">
                        <header class="card-header">
                            <h5 class="muted-heading">Empty</h5>
                        </header>
                        <div class="card-content">
                            <h3 class="no-margin-top no-margin-bottom"><a class="link-soft underlined" href="">No Camps.</a></h3>
                            <p>Come back soon, no camps have been added yet.</p>
                        </div>
                        <div class="card-footer">
                            <p class="no-margin-bottom no-margin-top">Coming soon.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="section-strip light">
    <div class="container">
        <div class="row pt-1">
            <div class="col-7">
                <p>Explore the staff profiles.</p>
                <div class="tabs justify-between">
                    <button class="button primary tab-back">Back</button>
                    <button class="button primary tab-next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div id="1" class="section-strip light tab-content active staff-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <!-- Replace the image source with the appropriate image URL -->
                            <img alt="Dai Rees" src="{% static 'images/camps/staff/rees.png' %}">
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <h1 class="section-title ubuntu-light">Dai Rees</h1>
                    <p class="subtitle">From the Cardiff Blues</p>
                    <!-- Replace the paragraphs with Dai Rees' bio -->
                    <p>Dai is a level 4 coach and former head coach of Wales u20. He was the longtime Director of Rugby at the Hong Kong Rugby Union and Head of Academy at the Dragons in Wales.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="2" class="section-strip light tab-content staff-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-5 hidden-lg">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <img alt="Andy Skehan" src="{% static 'images/camps/staff/skehan.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <h1 class="section-title ubuntu-light">Andy Skehan</h1>
                    <p class="subtitle">Attention to detail enhances a player's journey.</p>
                    <p>Andy Skehan is a seasoned rugby coach known for his professionalism.</p>

                    <ul class="section-strip inline-list">
                        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Managed diverse rugby program with 17 teams and 35+ coaches.</li>
                        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Recognized for fostering winning cultures and developing talented players.</li>
                        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Praised for clear communication, attention to detail, and ability to elevate team performance.</li>
                    </ul>
                </div>
                <div class="col-5 hidden-sm">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <img alt="Andy Skehan" src="{% static 'images/camps/staff/skehan.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="3" class="section-strip light tab-content active staff-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <!-- Replace the image source with the appropriate image URL -->
                            <img alt="Tim Brown" src="{% static 'images/camps/staff/timbo.png' %}">
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <h1 class="section-title ubuntu-light">Tim Brown</h1>
                    <p class="subtitle">Pro Rugby Consultant</p>
                    <!-- Replace the paragraphs with Dai Rees' bio -->
                    <p>Tim has been involved in rugby on national and international levels for almost 30 years.</p>

                     <ul class="section-strip inline-list">
                        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Played as a collegiate All Amercian as well as for the U23s, played un US Super League, managed University Rugby from club through varsity.</li>
                        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> First official employee of for Old Glory DC - running what was widely recognized as the best run MLR Academy.</li>
                        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Now working for World Rugby Shop and UMW with Rugby East as well as consulting with Pro 14, Premiership, and MLR teams.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="4" class="section-strip light tab-content staff-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-5 hidden-lg">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <img alt="Joseph Ritter" src="{% static 'images/camps/staff/ritter.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <h1 class="section-title ubuntu-light">Joseph Ritter</h1>
                    <p class="subtitle">Pathways Player</p>
                    <p>Joseph played 4 years of Varsity Rugby at Mary Washington after attending Crusaders Academy while in HS.  He also was part of Old Glory's Academy and has coached with Fort Hunt u19's.</p>
                </div>
                <div class="col-5 hidden-sm">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <img alt="Joseph Ritter" src="{% static 'images/camps/staff/ritter.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="5" class="section-strip light tab-content active staff-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <!-- Replace the image source with the appropriate image URL -->
                            <img alt="Kit Waddington" src="{% static 'images/camps/staff/kit2.png' %}">
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <h1 class="section-title ubuntu-light">Kit Waddington</h1>
                    <p class="subtitle">Leinster Academy Player</p>
                    <p>Veteran of Leinster Academy. Currently playing in USA Rugby East Competition. Plays scrumhalf and looking forward to a successful senior year.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="6" class="section-strip light tab-content staff-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-5 hidden-lg">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <img alt="Jose Reyes" src="{% static 'images/camps/staff/reyes.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <h1 class="section-title ubuntu-light">Jose Reyes</h1>
                    <p class="subtitle">Pathways Player</p>
                    <p>Jose played 4 years of Varsity Rugby at Mary Washington. He then went on to play for ARP team White Plains. He was also part of Old Glory's Academy coming through their pathways program and got signed to the team during their 2023 run. Jose plays touch rugby and coached youth rugby at various clubs during his off-time. Currently working as a software developer for First Five Rugby.</p>
                </div>
                <div class="col-5 hidden-sm">
                    <div class="section-image-wrapper">
                        <div class="section-image">
                            <img alt="Jose Reyes" src="{% static 'images/camps/staff/reyes.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip light tour-archive">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <video width="100%" class="tour-video" controls autoplay loop muted playsinline>
                    <source src="{% static 'videos/camps/camp-archives-2024.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p class="video-subtitle center">Rugby Camps</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JavaScript tags -->
{% block js %}
<script src="{% static 'js/camps/index.js' %}"></script>
{% endblock %}