<!-- templates/f5rugby/camps.html -->

{% extends 'f5rugby/base.html' %}

<!-- load the static tag -->
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/f5rugby/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/camps/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/cards.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %}Rugby Camps{% endblock %}
{% block description %}Join our rugby camps for a comprehensive approach to personal player development and engaging group/team activities. Led by experienced coach Andy Skehan, our camps cater to both newcomers and seasoned players, offering expert guidance and a supportive environment to hone your skills and passion for rugby. Sign up now for an unforgettable experience on and off the field!{% endblock %}

{% block content %}
<div class="hero-wrapper camps-background">
    <div class="hero container">
        <div class="row">
            <div class="col-8">
                <div class="hero-solid-content">
                    <h1 class="hero-title ubuntu-regular">Cardiff Blues All Star Rugby Camp</h1>
                    <p class="ubuntu-light text-white">Not your average camp staff! 3 full time Rugby Coaches with pro experience. Hundreds of reps with skill progression. Focus on seeing the entire pitch. Daily Prizes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip camps-wrapper">
    <div class="container">
        <div class="row">
            <h1 class="section-title ubuntu-light">Upcoming camps</h1>
            <div class="camps-container pt-1">
                {% for camp in camps %}
                <div class="col-4">
                    <div class="card-post">
                        <header class="card-header">
                            <h5 class="muted-heading">{{ camp.tags }}</h5>
                        </header>
                        <div class="card-content">
                            <h3 class="no-margin-top no-margin-bottom"><a class="link-soft underlined" href="{% url 'camps:details' camp.id %}">{{ camp.title }}</a></h3>
                            <p>{{ camp.description }}</p>
                        </div>
                        <div class="card-image pb-1 center">
                            {% if camp.crest %}<img src="{{ camp.crest.url }}" alt="{{ camp.title }} Crest">{% endif %}
                        </div>
                        <div class="card-footer">
                            <p class="no-margin-bottom no-margin-top">Date: {{ camp.start_date|date:"F j" }} - {{ camp.end_date|date:"j" }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-4">
                    <div class="card-post">
                        <header class="card-header">
                            <h5 class="muted-heading">Empty</h5>
                        </header>
                        <div class="card-content">
                            <h3 class="no-margin-top no-margin-bottom"><a class="link-soft underlined" href="">No Camps.</a></h3>
                            <p>Come back soon, no camps have been added yet.</p>
                        </div>
                        <div class="card-footer">
                            <p class="no-margin-bottom no-margin-top">Coming soon.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="section-strip section-strip-light tours-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img alt="cardiff blues crest" src="{% static 'images/camps/cardiff-blues-logo.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h1 class="section-title ubuntu-light">The Cardiff Blues</h1>
                <p class="subtitle">Welsh rugby. Showcasing skill, determination, and the spirit of the game.</p>
                <p>The Cardiff Blues Rugby team, based in Cardiff, Wales, competes in the United Rugby Championship.</p>
                <p>Established in 1876, they've become renowned for producing talented players who often represent Wales and contribute to British and Irish Lions tours.</p>
                <p><a class="link dark" href="https://www.cardiffrugby.wales/">More about Cardiff Blues ></a></p>
            </div>
        </div>
    </div>
</div>
<div class="section-strip health-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-5 hidden-lg">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/camps/andy-skehan-profile.png' %}">
                    </div>
                </div>
            </div>

            <div class="col-7">
                <h1 class="section-title ubuntu-light">Andy Skehan</h1>
                <p class="subtitle">Attention to detail enhances a player's journey.</p>
                <p>Andy Skehan is a seasoned rugby coach known for his professionalism.</p>

                <ul class="section-strip inline-list">
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Managed diverse rugby program with 19 teams and 35+ coaches.</li>
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Recognized for fostering winning cultures and developing talented players.</li>
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Praised for clear communication, attention to detail, and ability to elevate team performance.</li>
                </ul>

                <p><a class="link dark" href="https://twitter.com/andyskehan?lang=en">More about Andy ></a></p>
            </div>
            <div class="col-5 hidden-sm">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/camps/andy-skehan-profile.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip section-strip-light tour-archive">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="section-title ubuntu-light">Camp Archives</h1>
                <p>Enjoy some moments from previous rugby camps!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <video width="100%" class="tour-video" controls autoplay loop muted playsinline>
                    <source src="{% static 'videos/camps/camp-archives-2024.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p class="video-subtitle center">Rugby Camps</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}