*.pyc
__pycache__/
*.pyo

# Environment files
.env

# Virtual environment
venv/
env/

# SQLite database file
db.sqlite3

# Media and static files
staticfiles/
*.sh

# MacOS system files
.DS_Store

# Temp files
health_files/
camp_files/
