<!-- templates/f5rugby/health.html -->

{% extends 'f5rugby/base.html' %}

<!-- load the static tag -->
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/f5rugby/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/tours/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/cards.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %}Ireland Tours{% endblock %}
{% block description %}Discover unforgettable rugby team tours in Ireland with customizable city stays, exhilarating pro rugby match experiences, and personalized tours guided by expert bus drivers. Leave all the details to us, ensuring a seamless and memorable journey for your team.{% endblock %}

{% block content %}
<div class="hero-wrapper ireland-background">
    <div class="hero container">
        <div class="row">
            <div class="col-8">
                <div class="hero-solid-content">
                    <h1 class="hero-title ubuntu-regular">Ireland Team Tours</h1>
                    <p class="ubuntu-light text-white">Trust in our tour guides who know the area best. Catch pro rugby games, stay in multiple cities, and take in the rich history.</p>
                    <p><a class="button primary" href="{% url 'tour:tour_quote' %}">Free Quote</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip section-strip tours-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-5 hidden-lg">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/tours/cities.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h1 class="section-title ubuntu-light">Overnight Stays</h1>
                <p class="subtitle">Enjoy a free breakfast as you rise each day in a new and unique city.</p>
                <ul class="section-strip inline-list">
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Explore Western Ireland with <a class="link dark" href="https://en.wikipedia.org/wiki/Galway">Galway</a> and <a class="link dark" href="https://en.wikipedia.org/wiki/Clifden">Clifden</a>.</li>
        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Discover Southern Ireland with <a class="link dark" href="https://en.wikipedia.org/wiki/Cork_(city)">Cork</a> and <a class="link dark" href="https://en.wikipedia.org/wiki/Kilkenny">Kilkenny</a>.</li>
        <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Adventure through Eastern Ireland with <a class="link dark" href="https://en.wikipedia.org/wiki/County_Kerry">Kerry</a> and <a class="link dark" href="https://en.wikipedia.org/wiki/Dublin">Dublin</a>.</li>
                </ul>
            </div>
            <div class="col-5 hidden-sm">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/tours/cities.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip section-strip-light tours-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/tours/history.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h1 class="section-title ubuntu-light">Local Insights</h1>
                <p class="subtitle">Experience the area through the eyes of our knowledgeable local bus drivers.</p>
                <ul class="section-strip inline-list">
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Get an exclusive behind-the-scenes tour while watching professional matches.</li>
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Featured <a class="link dark" href="https://en.wikipedia.org/wiki/Rugby_union_in_Ireland">fixtures</a> have included Shannon, Munster, Connacht, and Rockwell.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-strip section-strip tours-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-5 hidden-lg">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/tours/cliffs.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h1 class="section-title ubuntu-light">Discovering the Past</h1>
                <p class="subtitle">Embark on a journey through Ireland's rich history and vibrant culture.</p>
                <ul class="section-strip inline-list">
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Enjoy leisure time exploring the surrounding <a class="link dark" href="https://en.wikipedia.org/wiki/Cliffs_of_Moher">landmarks</a>.</li>
                    <li class="inline-list-item"><i class="fa-regular fa-circle-check"></i> Immerse yourself in local culture with visits to renowned sites.</li>
                </ul>
                <p><a class="button primary" href="{% url 'tour:tour_quote' %}">Free Quote</a></p>
            </div>
            <div class="col-5 hidden-sm">
                <div class="section-image-wrapper">
                    <div class="section-image">
                        <img src="{% static 'images/tours/cliffs.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip section-strip-light tour-archive">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="section-title ubuntu-light">Tour Archives</h1>
                <p>Enjoy some moments from previous tours!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <video class="tour-video" controls autoplay loop muted playsinline>
                    <source src="{% static 'videos/tours/tour-archives-2024.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p class="video-subtitle center">Ireland Tours</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}