@font-face {
    font-family: "Times New Roman Condensed";
    src: url("http://127.0.0.1:8000/static/fonts/times-condensed.otf") format("opentype");
}

.jumbotron {
    padding-top: 50px;
    height: 60vh;
    display: flex;
    align-items: center;
}

.jumbotron .title {
    color: white;
    font-family: 'Times New Roman Condensed', Times, serif;
    margin: 0;
    font-size: 2.5rem;
}

.row-spacer {
    padding: 1rem 0;
}

.inner-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inner-desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gif {
    width: 100%;
    border-radius: 12px;
}

.feature-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.feature-list li:last-child {
    border-bottom: 2px solid black;
}

.feature-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid black;
    padding: 1rem 0;
}

.feature-item.light {
    border-top: 2px solid white;
}

.feature-list li.light:last-child {
    border-bottom: 2px solid white;
}

@media only screen and (max-width: 600px) { 

}