.card-post {
    height: 260px;
    display: flex !important;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15), 0 2px 2px -1px rgba(0,0,0,.15), 0 0 3px 0 rgba(0,0,0,.2);
    margin-bottom: 1.5rem;
}

.card-header {
    border-top: 3px solid #772121;
    padding: 1rem 1rem .5rem;
}

.card-content {
    border-top: 1px dotted #d9d9d9;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 .5rem;
    padding: 1rem .5rem .5rem;
}

.card-content p {
    display: block;
    margin: .5rem 0;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 400;
}

.muted-heading {
    margin: 0;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 12px;
}

.card-footer {
    border-top: 1px dotted #d9d9d9;
    font-size: .875rem;
    margin: auto .5rem 0;
    max-width: inherit;
    padding: 1rem .5rem;
}

.card-footer p {
    font-size: 14px;
}