<!-- templates/components/navigation.html -->
<div class="nav-wrapper">
    <ul class="navlist container ubuntu-regular">
        <li class="navitem"><a class="navlink" href="{% url 'index' %}">Home</a></li>
        <li class="navitem"><a class="navlink" href="{% url 'camps:index' %}">Camps</a></li>
        <li><a class="navitem"><a class="navlink deactivated" href="#">Tours</a></li>
        <li class="navitem"><a class="navlink" href="{% url 'health:index' %}">Health</a></li>
        <li class="navitem"><a class="navlink deactivated" href="#">Store</a></li>
    </ul>
</div>