<!-- templates/components/navigation.html -->
<div id="menuToggle" class="nav-toggler-wrapper">
    <div class="container">
        <div class="row">
            <div class="menu-toggler text-white right">Menu</div>
        </div>
    </div>
</div>
<div id="menuWrapper" class="nav-wrapper">
    <div class="container">
        <div class="row justify-between">
            <div class="col-7">
                <ul class="navlist ubuntu-regular">
                    <li class="navitem"><a class="navlink" href="{% url 'index' %}">Home</a></li>
                    <li class="navitem"><a class="navlink" href="{% url 'camps:index' %}">Camps</a></li>
                    <li><a class="navitem"><a class="navlink" href="{% url 'tour:index' %}">Tours</a></li>
                    <li class="navitem"><a class="navlink" href="{% url 'health:index' %}">Health</a></li>
                    <li class="navitem"><a class="navlink deactivated" href="#">Store</a></li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="navlist justify-end ubuntu-regular right">
                    {% if user.is_authenticated %}
                        <li class="navitem right">
                            <span class="navlink">Howdy, {{ user.username }}</span>
                        </li>
                        <li class="navitem right"><a class="navlink" href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                        <li class="navitem right"><a class="navlink" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                        <li class="navitem right"><a class="navlink" href="{% url 'accounts:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>