body {
  margin: 0;
  background: darkgreen;
  background-image: url('http://127.0.0.1:8000/static/images/f5rugby/noise-light.png');
  /* background-attachment: fixed; */
}

.black-grain {
  background: rgb(0, 0, 0);
  background-image: url('http://127.0.0.1:8000/static/images/f5rugby/noise-light.png');
}

.white-grain {
  background: white;
  background-image: url('http://127.0.0.1:8000/static/images/f5rugby/noise-light.png');
}


/* Text colors */
.text-white {
  color: white;
}

.text-green {
  color: darkgreen;
}

.text-red {
  color: darkred;
}

.text-orange {
  color: #f8a20e;
}

.text-black {
  color: black;
}

/* Lists */
.inline-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.inline-list-item {
  margin-bottom: 1rem;
}

/* Sections */
.subtitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section {
  padding: 2rem 0;
}

.section.dark {
  background: black;
}

.section-title {
  font-family: 'Times New Roman Condensed', Times, serif;
  margin: 0;
  font-size: 2.5rem;
}

.section-subtitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Buttons */
.button {
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.5rem;
  margin: 0 1rem 1.2rem 0;
  padding: calc(.4rem - 1px) 1rem;
  text-align: center;
  text-decoration: none;
}

.button.large {
  padding: calc(.4rem - 1px) 1.2rem;
  font-size: 1.2rem;
}

.button.primary {
  background-color: #0e8420;
  border-color: #0e8420;
  color: #fff;
}

.button.secondary {
  background-color: darkgreen;
  border-color: black;
  color: white;
  font-weight: bold;
}

.button.primary:hover {
  background-color: #0c6d1a;
  border-color: #0c6d1a;
}

.button.secondary:hover {
  background-color: rgb(255, 255, 255);
  color: darkgreen;
}

.round {
  border-radius: 20px;
}

.button.clear {
  background-color: #840e0e;
  border-color: #840e0e;
  color: #fff;
}

.button.clear:hover {
  background-color: #6d0c0c;
  border-color: #6d0c0c;
}

/* Links */
.link {
  text-decoration: none;
  font-weight: 300;
}

.link:hover {
  text-decoration: underline;
}

.link.light {
  color: white;
}

.link.dark {
  color: darkred;
}

.link.green {
  color: green;
}

.link-soft {
  color: #000;
  text-decoration: none;
  font-weight: 450;
}

.link-soft:hover {
  text-decoration: underline;
}

.underlined {
  text-decoration: underline;
}

.link.deactivated {
  color: #6c6c6c; /* Change the color to a grayish tone */
  text-decoration: none; /* Remove underline */
  pointer-events: none; /* Disable click events */
  cursor: default; /* Change cursor to default */
}

.link-soft.deactivated {
  color: #6c6c6c; /* Change the color to a grayish tone */
  text-decoration: none; /* Remove underline */
  pointer-events: none; /* Disable click events */
  cursor: default; /* Change cursor to default */
}

/* Fonts*/
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@media only screen and (max-width: 600px) { 
  .section-image {
    padding-top: 0;
  }
}